@model BlogSite_v1.Models.PostCategoryView


@{
    ViewBag.Title = "Add New Post";
}

<center><h2>New Post</h2></center>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

         @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-primary btn-sm" })<br /><br />
        
            
            <div align="center">
                <div class="well well-sm" style="background-color:seagreen"><b>Title</b></div>
                @Html.TextAreaFor(model => model.Post.PostTitle, new { style = "width:500px;height:25px;resize: none" })<br /> Max. 50 characters.
                @Html.ValidationMessageFor(model => model.Post.PostTitle)
            </div>
            <br />

        
            <div align="center">
                <div class="well well-sm" style="background-color:seagreen"><b>Post</b></div>
                @Html.TextAreaFor(model => model.Post.PostContext, new { rows = 5, cols = 50, maxwidth = 500, style = "width: 1500px; height:300px;resize: none" })
                @Html.ValidationMessageFor(model => model.Post.PostContext)
            </div>
        

        <hr />
        <div align="center">
        <div class="well well-sm" style="background-color:seagreen"><b>Select Category/ies for Post</b></div>
            
                @for (var i = 0; i < Model.Categories.Count(); i++)
            {
                @Html.HiddenFor(x => x.Categories[i].CategoryId)
                @Html.CheckBoxFor(x => x.Categories[i].IsChecked)
                @Html.DisplayFor(x => x.Categories[i].CategoryName)
                <br /> 
            }
        
        </div>
       
        <br />
        <center><input type="submit" value="Post" class="btn btn-warning" /></center><hr />
           
        
    </div>
}


   



