@model BlogSite_v1.Models.PostCategoryView


@{
    ViewBag.Title = "Create";
    



}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Post.PostTitle)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Post.PostTitle)
                @Html.ValidationMessageFor(model => model.Post.PostTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Post.PostContext)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Post.PostContext)
                @Html.ValidationMessageFor(model => model.Post.PostContext)
            </div>
        </div>

        

        @for(var i=0; i < Model.Categories.Count(); i++)
        {
            @Html.HiddenFor(x=> x.Categories[i].CategoryId)
            @Html.CheckBoxFor(x => x.Categories[i].IsChecked)
            @Html.DisplayFor(x=> x.Categories[i].CategoryName)
            <br />
        }

     

       
       
       


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


