@model BlogSite_v1.Models.Comment

@{
    ViewBag.Title = "DeleteComment";
}

<h2>Are you sure you want to delete?</h2>

<div>

    <hr />
    @Html.ActionLink("Back to List", "DetailsPost", new { id = Model.PostId }, new { @class = "btn-primary btn-sm" })
    <br /> <br />
    <b>Title</b> <div class="well well-sm">@Html.DisplayFor(model => model.Post.PostTitle)</div>

    <b>User</b> <div class="well well-sm">@Html.DisplayFor(model => model.AspNetUsers.Email)</div>

    <b>Comment</b> <div class="well well-sm">@Html.DisplayFor(model => model.CommentContext)</div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <center><input type="submit" value="Delete" class="btn btn-danger btn-block" /></center>
    }
   <hr /> 
</div>
