@model BlogSite_v1.Models.Post

@{
    ViewBag.Title = "DeletePost";
}

<h2>Are you sure want to delete?</h2>
<div>

    <hr />

    <b>Title</b> <div class="well well-sm">@Html.DisplayFor(model => model.PostTitle)</div>

    <b>Date</b> <div class="well well-sm">@Html.DisplayFor(model => model.PostDate)</div>

    <b>Content</b> <div class="well well-sm">@Html.DisplayFor(model => model.PostContext)</div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <center><input type="submit" value="Delete" class="btn btn-danger btn-block" /></center>
    }

    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-primary btn-sm" })<hr />
</div>
