@model BlogSite_v1.Models.PostCommentView
@{
    ViewBag.Title = "Details";


}

<center><h2>@Html.DisplayFor(model => model.Post.PostTitle)</h2></center>


<div>

    <hr />
    @Html.ActionLink("Back to Posts", "Index", null, new { @class = "btn-primary btn-sm" })
    <dl class="dl-horizontal"></dl>
    <div>

        @Html.DisplayFor(model => model.Post.PostContext)
        <br /><hr />


        <center><h5>Comments<span class="badge">@Model.Comments.Count()</span></h5></center>
        @Html.ActionLink("Add Comment", "AddComment", new { com = Model.Comment, id = Model.Post.PostId }, new { @class = "btn btn-warning btn-sm" })
        <br /><br />


        @if (Model.Comments.Count() == 0)
        {
            <div class="well well-sm"><center>No comment for this post! Be the first!</center></div>
        }

        @foreach (var cat in Model.Comments)
        {


            <div class="panel panel-default">
                <div class="panel-heading">@cat.AspNetUsers.UserName on @cat.CommentDate.Date</div>
                <div class="panel-body">
                    @cat.CommentContext
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div align="right">
                            @Html.ActionLink("Delete Comment", "DeleteComment", new { id = cat.CommentId }, new { @class = "btn btn-danger btn-xs" })
                        </div>
                    }
                </div>
            </div>
            <hr />
        }
    </div>
</div>
