@model BlogSite_v1.Models.PostCommentView
@{
    ViewBag.Title = "Details";
    
   
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">


        <dt>
            Post Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.PostTitle)
        </dd>



        <dt>

        </dt>
    </dl>
    <div>

        <h4> Context </h4> @Html.DisplayFor(model => model.Post.PostContext)
        <br /><br />
        <h4>Comments</h4>
       
        
        @Html.ActionLink("Add Comment", "AddComment", new {com = Model.Comment, id = Model.Post.PostId });

        <dl>

            @foreach (var cat in Model.Comments)
            {

                <dt>
                    @cat.AspNetUsers.UserName:
                </dt>
                <dd>
                    @cat.CommentContext
                </dd>
                <dd>
                    @cat.CommentDate
                </dd>
                <br />

            }
            @Html.ActionLink("Go Back to Posts", "Index")
        </dl>
    </div>
</div>


