@model BlogSite_v1.Models.Post

@{
    ViewBag.Title = "Edit";
}

<center><h2>Edit</h2></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-primary btn-sm" })
        <br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PostId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.PostDate)

        <br />

        @Html.LabelForModel("Post Title")

        @Html.EditorFor(model => model.PostTitle, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PostTitle, "", new { @class = "text-danger" })


        <br />


        @Html.Label("Post Content")

        @Html.EditorFor(model => model.PostContext, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PostContext, "", new { @class = "text-danger" })



        <br />
        <div align="center"><input type="submit" value="Save" class="btn btn-warning btn-sm" /></div><hr />
    </div>
}


