@model BlogSite_v1.Models.PostCategoryView


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("New Post", "AddPost")
</p>
<table class="table">
    <tr>
        <th>
            Post
        </th>
        <th>
            Post Date
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Posts)
    {
        <tr>
            <td>
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.PostTitle).ToString(), "DetailsPost", new { id = item.PostId }) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            
            <td>
                @foreach(var cat in Model.PostCategories)
                {
                    if(cat.PostId == item.PostId)
                    {
                        @cat.Category.CategoryName; <br />
                    }
                }
                
            </td>
            <td>
                @Html.ActionLink("Edit Post", "Edit", new { id = item.PostId }) |
                @Html.ActionLink("Delete Post", "DeletePost", new { id = item.PostId }) 

            </td>
        </tr>
    }

    </table>