@model BlogSite_v1.Models.PostCategoryView

@{
    ViewBag.Title = "Blog Posts";

}

<center><h2>Blog Posts</h2></center>

<p>
    @Html.ActionLink("Add New Post", "AddPost", null, new { @class = "btn btn-warning btn-sm" })
</p>



    @foreach (var item in Model.Posts)
    {

        <div style="margin-left:auto;margin-right:auto">
            <div align="right">
                @Html.ActionLink("Edit Post", "Edit", new { id = item.PostId }, new { @class = "btn btn-success btn-xs" }) |
                @Html.ActionLink("Delete Post", "DeletePost", new { id = item.PostId }, new { @class = "btn btn-danger btn-xs" })
            </div>
            <div class="panel panel-success small">
                <div class="panel-heading well-sm">@Html.ActionLink(@Html.DisplayFor(modelItem => item.PostTitle).ToString(), "DetailsPost", new { id = item.PostId })
                 <br /> Date: @Html.DisplayFor(modelItem => item.PostDate)</div>
                <div class="panel-body well-sm">
                    @foreach (var cat in Model.PostCategories)
                    {
                        if (cat.PostId == item.PostId)
                        {
                            <kbd>@cat.Category.CategoryName</kbd>
                            ;

                        }
                    }
                    
                </div>
            </div>
                 

        

      </div>

    }


       